{% extends 'container.twig' %}
{% block body %}

<div class="intro">
	
		<b>Oh, <span class="attn">No</span>!</b><br />
		<span class="subline">error :: 404</span>
</div>
<div class="content">
	<p>
		It looks like you were looking for <b class="dark">{{ error }}</b> but we couldn't find it. You can place another order by retrying your request <a href="javascript:history.back(1);return false">here</a>.
	</p>
	<p class="ar">
		- Your Friendly Neighborhood <b class="dark">Master</b><span class="attn">Bakers</span>. 
	</p>
</div>


{% endblock %}