{% extends 'container.twig' %}
{% block body %}

<!-- Intro Block -->
<div class="intro">

	<b>Bakery Framework <span class="attn">2</span></b><br />
	<span class="subline">changelog</span>

</div>

<!-- Changelog Block -->
<div class="changelog">
	<p>
		{% if changelog %}
			
			{% for versionnumber,version in changelog %}

				<b class="attn">{{ versionnumber }}</b> - Release Date: <span class="dark">{{ version.date }}</span>
				{% for commit, changes in version.commits %}
					{% for change in changes %}
						
						<div class="entry"><b class="attn">-</b> {{ change }} (<a class="attn">{{ commit }}</a>)</div>

					{% endfor %}
				{% endfor %}
			<hr />

			{% endfor %}

		{% else %}
			No changes available
		{% endif %}
	</p>
	<p class="ar">
		- Your Friendly Neighborhood <b class="dark">Master</b><span class="attn">Bakers</span>. 
	</p>
</div>

{% endblock %}