{% extends 'container.twig' %}
{% block body %}

<div class="intro">
	
		<b>Bakery Framework <span class="attn">2</span></b><br />
		<span class="subline">for PHP 5.5 and above</span>
</div>
<div class="content">
	<p>
		Take a gander at the <a href="/changelog/">bakerslog</a> to learn more about the <b class="dark">feature enhancements</b> and <b class="dark">changes</b>. 
	</p>
	<hr />
	<div class="install">
		<h2>How To Bake Your Own App</h2>
		<p class="step1">
			<b>Step 1: </b>
			Navigate to above your document root.
			<div class="note">
				<b>Note: </b> If <code>/var/www/bakery/web</code> is your docroot, navigate to <code>/var/www/bakery/</code>
			</div>
		</p>

		<p class="step2">
			<b>Step 2: </b> 
			Checkout the Source Code:
			<div>
				<code>git clone https://github.com/mikemackintosh/BakeryFramework2.git Bakery</code>
			</div>
		</p>

		<p class="step3">
			<b>Step 3: </b>
			Navigate to your document root (<code>/var/www/bakery/web</code>) and create a file named <code>index.php</code> and add the following to it:
<pre>
&lt?php
############################################################################
#
#			Bakery Framework 2 - A Rapid Development Framework
#
############################################################################

include_once("../Bakery/Bakery.php");

// Enjoy	
</pre>
		</p>

		<p class="step4">
			<b>Step 4: </b>
			Create your recipe 
			<div class="note">
				<b>Note: </b> See <code>Recipes.php</code> and <code>Recipes/BakeryFramework2/Welcome.php</code>
			</div>

			
		</p>

	</div>
	<hr>
	<div class="server_configs">
		<h2>Example Server Configurations</h2>
		<div>
			<b class="attn">Apache .htaccess</b>
			<div class="note">The following is an example .htaccess used to rewrite your URL's</div>
			<pre>
&lt;IfModule mod_rewrite.c>
    RewriteEngine On

    #RewriteBase /path/to/app

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond ${REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
&lt;/IfModule>
			</pre>
		</div>

		<div>
			<b class="attn">nginx config</b>
			<div class="note">The following nginx config is used to handle requests correctly</div>
			<pre>
server {

	listen   80; ## listen for ipv4; this line is default and implied
	listen   [::]:80 ipv6only=on; ## listen for ipv6

	root /var/www/bakery/web;
	index index.php;

	# Make site accessible from http://localhost/
	server_name www.yoursitename.com;

	location / {
		try_files $uri $uri/ /index.php;
	}

	location ~ ^/index.php {
		fastcgi_pass   unix:/var/run/php-fpm.sock;
		fastcgi_param  SCRIPT_FILENAME  $fastcgi_script_name;
		include        fastcgi_params;
	}

	location ~ \.php$ {
		fastcgi_pass   unix:/var/run/php-fpm.sock;
		fastcgi_param  SCRIPT_FILENAME  $fastcgi_script_name;
		include        fastcgi_params;
	}

}
		</pre>	
		</div>
	</div>
	<p class="ar">
		- Your Friendly Neighborhood <b class="dark">Master</b><span class="attn">Bakers</span>. 
	</p>
</div>

{% endblock %}
