{% extends 'container.twig' %}
{% block body %}

<div class="intro">
	
		<b>Bakery Framework <span class="attn">2</span></b><br />
		<span class="subline">for PHP 5.5 and above</span>
</div>
<div class="content">
	<p>
		You are running version <b class="dark">{{ site.bf2_ver }}</b>. It is code named `<b class="dark">{{ site.bf2_sn}}</b>`, yum! 
		Take a gander at the <a href="/changelog/">bakerslog</a> to learn more about the <b class="dark">feature enhancements</b> and <b class="dark">changes</b>. 
	</p>
	<p class="ar">
		- Your Friendly Neighborhood <b class="dark">Master</b><span class="attn">Bakers</span>. 
	</p>
</div>

{% endblock %}